<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <pb-search action="${app}/haku.html" data-template="lib:parse-params" value="${query}" redirect="redirect"/>
                <a href="/exist/apps/skvr/esittely.xml">Esittely</a>            
                <a href="/exist/apps/skvr/runoluettelo-mobile.html">Runoluettelo / Metatietosuodatus</a>    
                <a href="/exist/apps/skvr/runotyypit.html">Runotyypit</a>
                <a href="/exist/apps/skvr/haku.html">Haku</a>
                <a href="/exist/apps/skvr/alkulauseet/I1_alkusanat.xml">Vanhat esipuheet</a>
                <a href="/exist/apps/skvr/runoluettelo-jr-mobile.html">Julkaisemattomat runot</a>   
                <a href="/exist/apps/skvr/ohjeet.html">Ohjeet</a>
                <a href="/exist/apps/skvr/palaute.html">Palaute</a>
        </pb-media-query>
    </div>
    
</app-drawer>